In [30]:
### int
x=int(7)
y=int(3)

print(x)
print(y)

print(x+y)

z=7
w=3
print(z-w)

print("========")

### float
a= float(3)
b= float(10)

print(a)
print(b)

c= 3.1415
d= 2.761

print(c+d)

print("========")

### Bool
e=True
f=False
h=False
print(e and f)
print(e and f and h)

print("========")

### Str
word  = "Hello"
word2 = 'Hello!!!'
print(word)
print(word2)


print("========")

num = 10002
memberNo = 10002
print(num)
print(memberNo)

validcaseno = 456
validCaseNo = 123
valid_case_no = 789

print(validCaseNo)
print(valid_case_no)

7
3
10
4
========
3.0
10.0
5.9025
========
False
False
========
Hello
Hello!!!
========
10002
10002
123
789

In [32]:
a = 123
b = 2.14
print(a)
print(b)
print(type(a))
print(type(b))

print("==============")

123
2.14
<class 'int'>
<class 'float'>

In [35]:
z = input()
#print(z)
print(type(z))

abc
<class 'str'>

In [37]:
# x="abc"
y=123
z=2.102
y+z

125.102

In [82]:
# .format
name = "Jeff"
name2 = "Keven"
w1 = "Hi , I'm {}"
w11 = "HI , I'm {} , and you are {}"
print(w1.format(name))
print(w11.format(name,name2))
print(w11.format(name2,name))

print("="*20)

# [:]
# sub string
w2 = "This is a book"
print(w2[10:])
print(w2[3:12])
print(w2[3:-2])

print("="*20)

# # .split
w3 = "This is a book."
w4 = "Apple,Banana,Cat"
print(w3.split(" "))
print(w4.split(" "))
print(w4.split(","))


print("="*20)

# # .join
w5  = "".join(["Steven","JC","Arial"])
w51 = ",".join(["Steven","JC","Arial"])
w52 = "____".join(["Steven","JC","Arial"])
w53 = "____".join(["Steven","JC","Arial","bigAu","smallC"])
print(w5)
print(w51)
print(w52)
print(w53)

print("="*20)

# # .strip
w6 = "                    kdjhvi "
print(w6)
print(w6.strip())

print("="*20)

# # .startswith
w7 = "Avenger Assemble!"
print(w7.startswith("Avenger"))
print(w7.startswith("test"))
print( type(w7.startswith("test"))  )


print("="*20)

# # .replace 
w8 = "Green tea."
print(w8.replace("Blue","Red"))

print("="*20)

# # .find
w9 = "Today is a rainy day."
print(w9.find("is"))
print(w9.find("are"))

Hi , I'm Jeff
HI , I'm Jeff , and you are Keven
HI , I'm Keven , and you are Jeff
====================
book
s is a bo
s is a bo
====================
['This', 'is', 'a', 'book.']
['Apple,Banana,Cat']
['Apple', 'Banana', 'Cat']
====================
StevenJCArial
Steven,JC,Arial
Steven____JC____Arial
Steven____JC____Arial____bigAu____smallC
====================
                    kdjhvi
kdjhvi
====================
True
False
<class 'bool'>
====================
Green tea.
====================
6
-1

In [89]:
test1 = "Jeff"
print(test1)
print(test1.encode("utf8"))

# print("="*20)

# test2 = "周杰倫"
# print(test2)
# print(test2.encode("utf8"))
# print(type(test2))
# print(type(test2.encode("utf8")))

# print("="*20)

# test3 = b'\xe5\x91\xa8\xe6\x9d\xb0\xe5\x80\xab'
# test4 = '\xe5\x91\xa8\xe6\x9d\xb0\xe5\x80\xab'
# print(test3)
# print(type(test3))
# print(test3.decode("utf8"))
# print(test4)
# print(type(test4))

test5="abc"
print(test5)

Jeff
b'Jeff'
====================
周杰倫
b'\xe5\x91\xa8\xe6\x9d\xb0\xe5\x80\xab'
<class 'str'>
<class 'bytes'>
====================
b'\xe5\x91\xa8\xe6\x9d\xb0\xe5\x80\xab'
<class 'bytes'>
周杰倫
abc

In [120]:
## + 
r1 = 32 + 2.17
r2 = "abc" + "jdk"
# r3 = 25 + "abc"
# r4 = 50 + "123"
print(r1)
print(r2)
# print(r3)
# print(r4)

print("="*50)

## - 
r5 = 256 - 21.11
print(r5)
print(type(r5))

print("="*50)

## * 
r6 = 24 * 12.15646
r7 = "abc"*20
print(r6)
print(r7)

print("="*50)

## **
r8 = 2**10
r9 = 3**5
print(r8)
print(r9)

print("="*50)

## / 
r10 = -256 / 127
print(r10)

print("="*50)

## // 
r11 = 127 // 7
print(r11)

print("="*50)

## % 
r12 = 33 % 4
print(r12)

print("="*50)


r13 = 12 > 5
r14 = 1027 % 2 == 0
print(r13)
print(r14)
print(r13 and r14)

print("="*50)

34.17
abcjdk
==================================================
234.89
<class 'float'>
==================================================
291.75504
abcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabc
==================================================
1024
243
==================================================
-2.015748031496063
==================================================
18
==================================================
1
==================================================
True
False
False

In [147]:
# "a" in "75jhfjf87"
# 12 in [2,3,5,7]

r15 = 123
r16 = 456
r17 = 123

print("r15 == r16 :" , r15 == r16)
print("r15 == r17 :",r15 == r17)

print("r15 is r16 :",r15 is r16)
print("r15 is r17 :",r15 is r17)

print("="*50)


# r19 = [4,5,6]
# print(r18 is r19)

r18 = [1,2,3]
r20 = [1,2,3]
print("r18 is r20 :",r18 is r20)
print("r18 == r20 :",r18 == r20)

r15 == r16 : False
r15 == r17 : True
r15 is r16 : False
r15 is r17 : True
==================================================
r18 is r20 : False
r18 == r20 : True

In [152]:
# Python
x=123
# x=-2.731
if x>0:
    print("Positive")
    y = "Hello"
    print(y)
else:
    print("Negative")
    
    
# Javascript
# if(x>0){
#     console.log("Positive");
# }else{
#     console.log("Negative");
# };


print("="*100)

z = 24
if z <0 :
    print("A!")
elif z>=0 and z<100 :
    print("B!")
else :
    print("C!")

Positive
Hello
====================================================================================================
B!

In [ ]:
## Q1
w , h = 


## Q2
message = input
## Q3

## Q4