In [20]:
# 1,1,2,3,5,8,13,21,34,55,89,..

def fibonacciSequence(n):
    if n ==1 or n == 2 :
        return 1
    a0=1
    a1=1
#     result = a0+a1
    # 假設 n = 5
    for i in range(n-2):
#         print("Old a0 :" , a0)
#         print("Old a1 :" , a1)
        result = a0+a1
        
#         print("Result :" , result)
        a0 = a1
        a1 = result
#         print("New a0 :",a0)
#         print("New a1 :",a1)
#         print("-"*80)
    return result
        
    
num = 10
# print("Result: " , fibonacciSequence(num))

for i in range(1,num+1):
    print("第",i ,"項 : " , fibonacciSequence(i))

第 1 項 :  1
第 2 項 :  1
第 3 項 :  2
第 4 項 :  3
第 5 項 :  5
第 6 項 :  8
第 7 項 :  13
第 8 項 :  21
第 9 項 :  34
第 10 項 :  55

In [1]:
import os

# 顯示當前路徑
print(os.getcwd())

# 顯示 工作空間內的檔案
print(os.listdir())

print("-"*80)

import sys
# 顯示 套件安裝位置
print(sys.path)
print(sys.version)

print("-"*80)

# 產生隨機數字
import random
print(random.random())
print(random.randint(1,10))
print(random.sample("This is a book.",4))

for i in range(10):
    print(random.random())
    

print("-"*80)
location = os.getcwd()
print(location)
print(type(location))
print(os.path.dirname(location))
print("\\".join(location.split("\\")[0:2]))

D:\python-ntust\python-ntust-201905
['.git', '.ipynb_checkpoints', 'FAQ-series.md', 'ntust-2019-0509.md', 'ntust-20190501.ipynb', 'ntust-20190502.ipynb', 'ntust-20190508.ipynb', 'ntust-20190509.ipynb', 'ntust-20190516.ipynb', 'sample.csv', 'testB.txt', 'testC.txt', 'Untitled.ipynb']
--------------------------------------------------------------------------------
['D:\\python-ntust\\python-ntust-201905', 'C:\\ProgramData\\Anaconda3\\python37.zip', 'C:\\ProgramData\\Anaconda3\\DLLs', 'C:\\ProgramData\\Anaconda3\\lib', 'C:\\ProgramData\\Anaconda3', '', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\CEC\\.ipython']
3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]
--------------------------------------------------------------------------------
0.038300809494915655
1
['T', 'o', 'a', 'i']
0.2480615130397359
0.8282347079649652
0.7157866660131884
0.5385354795901474
0.0304608024005929
0.8842283435102012
0.47850765376166715
0.8898127862927808
0.16744119121878187
0.06435483989928092
--------------------------------------------------------------------------------
D:\python-ntust\python-ntust-201905
<class 'str'>
D:\python-ntust
D:\python-ntust

In [11]:
df3

,貨品分類,中文貨名,英文貨名,國家,數量,數量單位,重量,重量單位,價值
0,3032300007,冷凍吳郭魚,"Tilapias, frozen",巴林,0,-,8000,KGM,411
1,3032300007,冷凍吳郭魚,"Tilapias, frozen",日本,0,-,10800,KGM,696
2,3032300007,冷凍吳郭魚,"Tilapias, frozen",加拿大,0,-,108631,KGM,7365
3,3032300007,冷凍吳郭魚,"Tilapias, frozen",沙烏地阿拉伯,0,-,503000,KGM,24919
4,3032300007,冷凍吳郭魚,"Tilapias, frozen",其他大洋洲國家,0,-,11695,KGM,729
5,3032300007,冷凍吳郭魚,"Tilapias, frozen",阿拉伯聯合大公國,0,-,29000,KGM,1274
6,3032300007,冷凍吳郭魚,"Tilapias, frozen",科威特,0,-,121536,KGM,6128
7,3032300007,冷凍吳郭魚,"Tilapias, frozen",美國,0,-,749982,KGM,46022
8,3032300007,冷凍吳郭魚,"Tilapias, frozen",香港,0,-,72,KGM,2
9,3032300007,冷凍吳郭魚,"Tilapias, frozen",澳大利亞,0,-,69570,KGM,4786
10,3032300007,冷凍吳郭魚,"Tilapias, frozen",關島,0,-,8618,KGM,458
11,12019000104,黑豆，不論是否破碎,"Black soybeans, whether or not broken",加拿大,0,-,0,TNE,43
12,12019000104,黑豆，不論是否破碎,"Black soybeans, whether or not broken",美國,0,-,0,TNE,9
13,12019000104,黑豆，不論是否破碎,"Black soybeans, whether or not broken",菲律賓,0,-,0,TNE,6
14,52114200005,牛仔布,Denim,中國大陸,11398,MTK,1991,KGM,902
15,52114200005,牛仔布,Denim,日本,14364,MTK,3898,KGM,1596
16,52114200005,牛仔布,Denim,印尼,21998,MTK,3869,KGM,1543
17,52114200005,牛仔布,Denim,印度,7212,MTK,2185,KGM,513
18,52114200005,牛仔布,Denim,柬埔寨,28081,MTK,9915,KGM,2469
19,52114200005,牛仔布,Denim,馬來西亞,8925,MTK,3598,KGM,575
20,52114200005,牛仔布,Denim,越南,139191,MTK,53225,KGM,12330
21,52114200005,牛仔布,Denim,賴索托,6894,MTK,2771,KGM,435

In [65]:
import pandas as pd
import os

# data = [
#     {"name":"Jeff", "age":18,"gender":"M"},    
#     {"name":"Leo" , "age":20,"gender":"M"},
#     {"name":"Keven","age":34,"gender":"M"},
#     {"name":"Elle", "age":22,"gender":"F"},
#     {"name":"Apple","age":29,"gender":"F"},
# ]

# 創造 DataFrame
# df = pd.DataFrame(data)
# df

####
# 讀取檔案
# print(os.listdir())
# with open("sample.csv","r",encoding="utf8") as inFile:
#     data2 = inFile.readlines()
# print(data2)

# df2 = pd.DataFrame(data2)
# df2

# df3 = pd.read_csv("sample.csv")
# df3

########### 
## 選擇特定欄位資料
# df3["中文貨名"]
# df3["貨品分力"]
# df3

########### 
## 造新欄位
# df3["重量(噸)"]   = df3["重量"] / 1000
# df3["價值(台幣)"] = df3["價值"] *31
# # df3["中文貨名(少)"] = df3["中文貨名"][0:2]
# df3["中文貨名(少)"] = df3["中文貨名"].str[0:2]
# ###
# df3["數量單位2"] = "!!!!"
# df3["數量單位"] = "-"
# df3

###########
## 過濾資料
# df3[  df3["中文貨名"] == "冷凍吳郭魚" ]
# df3[  df3["國家"] == "日本" ]
# df3
# df3[ df3["國家"] == "日本" ]
# df3[ (df3["中文貨名"] == "牛仔布") & (df3["價值"] > 1000) ]

# df3
###########
# 1. 求 價值總合
# sum(df3["價值"])
print("Sum1 : ",df3["價值"].sum())
# df3
# print(type(df3))
# print(df3["價值"])
# print(type(df3["價值"]))
# print(list(df3["價值"]))
# print(type(list(df3["價值"])))

# 2. 求 冷凍吳郭魚 , 價值 > 1000 之重量和
print("Sum2 : ",df3[ (df3["中文貨名"] == "冷凍吳郭魚") & (df3["價值"] > 1000) ]["重量"].sum())

# 3. 求 牛仔布 , 冷凍吳郭魚 的貿易差 (價值總合差)
sum3 = df3[df3["中文貨名"] == "牛仔布"]["價值"].sum() - df3[df3["中文貨名"] == "冷凍吳郭魚"]["價值"].sum()
print("SUM3 : ",sum3)

Sum1 :  113211
Sum2 :  1581719
SUM3 :  -72427

In [70]:
### Raw

mathStudScores = [
    {"name":"Jeff", "score":95},    
    {"name":"Leo" , "score":63},
    {"name":"Keven", "score":100},
    {"name":"Apple", "score":77},
    {"name":"Elle", "score":84},
    {"name":"Emma", "score":60},
]

engStudScores = [
    {"name":"Jeff","score":58},    
    {"name":"Leo", "score":100},
    {"name":"Keven","score":97},
    {"name":"Apple","score":85},
    {"name":"Elle","score":92},
    {"name":"Emma","score":41},
]

# 數學 : 總合
# 英文 : 平均 & 不及格名單

###
# Definition
### Math
def getScoresSum(data):
    # result : 總合
    result = 0
    
    for ele in data:
        result += ele["score"]
        
    return result

### Eng
def getScoreAvg(data):
    result = 0
    for ele in data:
        result += ele["score"]
    return result / len(data)


def getFailedList(data):
    result = []
    for ele in data:
        if ele["score"] < 60 :
            result.append(ele["name"])
    return result
    
###
# Main
    
mathSum = getScoresSum(mathStudScores)    
print("Math Sum :", mathSum)

mathAvg = getScoreAvg(mathStudScores)    
print("Math Avg :", mathAvg)

engAvg  = getScoreAvg(engStudScores)
print("Eng Avg :",engAvg)

failedList = getFailedList(engStudScores)
print("Eng failed list : ",failedList)

Math Sum : 479
Math Avg : 79.83333333333333
Eng Avg : 78.83333333333333
Eng failed list :  ['Jeff', 'Emma']

In [99]:
class Person:
    city = "Taipei" 
    
    def __init__(self,name,age,location = Person.city):
        self.name = name
        self.age  = age
        self.location = location
        
    def sayMyName(self):
        print( "HiHi , I'm {}".format(self.name) )
        
    def showMyAge(self):
        print("I am {} years old.".format(self.age) )
        

## 物件 = 類別 產生()
person1 = Person("Jeff",18)
person2 = Person("Leo",22,"New Taipei City")

print(person1.name)
print(person2.age)

print("-"*80)

person1.sayMyName()
person2.sayMyName()

print("-"*80)

person1.showMyAge()
person2.showMyAge()

print("-"*80)

print(person1.location)
print(person2.location)

Jeff
22
--------------------------------------------------------------------------------
HiHi , I'm Jeff
HiHi , I'm Leo
--------------------------------------------------------------------------------
I am 18 years old.
I am 22 years old.
--------------------------------------------------------------------------------
Taipei
New Taipei City

In [101]:
class MathClass:
    def __init__(self,data):
        self.data = data
    
    def getScoresAvg(self):
        result = 0
        for ele in self.data:
            result += ele["score"]
        return result / len(self.data)
        
class EngClass:
    def __init__(self,data):
        self.data = data
    
    def getScoresAvg(self):
        result = 0
        for ele in self.data:
            result += ele["score"]
        return result / len(self.data) 
    
    def getFailedList(self):
        result = []
        for ele in self.data:
            if ele["score"]<60:
                result.append(ele["name"])
        return result
    
mathStudScores = [
    {"name":"Jeff", "score":95},    
    {"name":"Leo" , "score":63},
    {"name":"Keven", "score":100},
    {"name":"Apple", "score":77},
    {"name":"Elle", "score":84},
    {"name":"Emma", "score":60},
]

engStudScores = [
    {"name":"Jeff","score":58},    
    {"name":"Leo", "score":100},
    {"name":"Keven","score":97},
    {"name":"Apple","score":85},
    {"name":"Elle","score":92},
    {"name":"Emma","score":41},
]      

mathClass = MathClass(mathStudScores)
print("Math Avg : ", mathClass.getScoresAvg())


engClass  = EngClass(engStudScores)
print("Eng Avg : ",  engClass.getScoresAvg())
print("Failed list :" , engClass.getFailedList())

Math Avg :  79.83333333333333
Eng Avg :  78.83333333333333
Failed list : ['Jeff', 'Emma']

In [ ]:
### By Class
class EngClass:
    def __init__(self,data):
        self.data = data
        
    def getScoresAvg(self):
        result = 0
        for ele in self.data:
            result += ele["score"]
        return result / len(self.data)
    
    
class MathClass:
    def __init__(self,data):
        self.data = data
        
    def getScoresAvg(self):
        result = 0
        for ele in self.data:
            result += ele["score"]
        return result / len(self.data)
        

mathStudScores = [
    {"name":"Jeff", "score":95},    
    {"name":"Leo" , "score":63},
    {"name":"Keven", "score":100},
    {"name":"Apple", "score":77},
    {"name":"Elle", "score":84},
    {"name":"Emma", "score":60},
]

engStudScores = [
    {"name":"Jeff","score":58},    
    {"name":"Leo", "score":100},
    {"name":"Keven","score":97},
    {"name":"Apple","score":85},
    {"name":"Elle","score":92},
    {"name":"Emma","score":41},
]

# 數學 : 總合
# 英文 : 平均 & 不及格名單

###
# Definition
### Mathsult
    
###
# Main
engClass = EngClass(engStudScores)
print("Eng Avg : ",engClass.getScoresAvg())

mathClass = MathClass(mathStudScores)
print("Math Avg : ",mathClass.getScoresAvg())